.header{

    background-color: #e1bee7; 
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.header .bi-person-circle {
    font-size: 30px;
    color: #000000;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin-top: 25px;
    margin-bottom: 15px;
}

header hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.perfil {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.formato-perfil {
    margin-bottom: 15px;
}

.formato-perfil label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
    color: #333;
}

.formato-perfil input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#perfil-label{

    color: #b837cf; 
    font-size: 20px; 
    padding-bottom: 10px
}

#btnEditarNome{
    background: none;
    border: none;
    padding: 0;
    margin-right: 5px;
    cursor: pointer;
}

#btnEditarNome .bi{
    font-size: 16px;
    color: #4A148C;
    padding-left: 60px;
}

#btnEditarEmail{
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    padding-top: 20px;
}

#btnEditarEmail .bi{
    font-size: 16px;
    color: #4A148C;
    padding-left: 60px;
}

#btnEditarBiografia{
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    padding-top: 20px;
}

#btnEditarBiografia .bi{
    font-size: 16px;
    color: #4A148C;
    padding-left: 60px;
}

.historico h1{
    font-size: 27px;
    color: #333;
    margin-top: 40px;
    margin-bottom: 15px;
}

.historico hr{
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;

}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color:  #e1bee7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
}

.card p {
    color: #666;
}

.card hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}