.header{

    border: 15px solid rgb(224, 156, 226); 
}

.icone-perfil{

    
}

.perfil{

    padding: 20px;
    display: inline-block;
}

.cartao-forma{

    max-width: 20rem; 
    margin: 20px;
}

.cartao-corpo{

    background-color: white; 
    border: 2px solid grey; 
    height: 160px
}

.cartao-texto{

    margin: 5px;
    
}

.cartao-header{
    border: 10px solid gainsboro; 
    background-color: gainsboro;
}